@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    background: -webkit-gradient(linear, left top, left bottom, from(#bdc3c7), to(#7f8c8d)) fixed;
    background: -moz-gradient(linear, left top, left bottom, from(#bdc3c7), to(#7f8c8d)) fixed;
    text-align: center;
    color: #1E232D;
    font-family: 'Lato', Helvetica, sans-serif;
    padding-bottom: 250px;
}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('http://jonmaldia.com/tenCadenceWeather/img/umbrellas.jpeg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
    opacity: .2;
}


.wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.main-img {
    margin: 0 auto;
    padding-top:100px;
    padding-bottom: 15px;
    max-width: 75px;
}

.main-img img {
    width: 75px;
    max-width: 75px;
}

header {
  padding: 0 0 50px 0;
}


#weather {
    color: #000;
}

#location h2 {
  font-size: 5em;
  margin: 0;
}

#conditions {
  padding: 20px;
}
#conditions h4 {
  font-size: 1.5em;
  margin: 0px;
}

#temperature {
  color: #2980b9;
  font-size: 8em;
  margin: 40px 0 60px 0;
}

#details {
  font-size: 1.5em;
  margin: 30px;
}

button {
    background-color: transparent;
    border: 1px solid #1E232D;
    margin: 0 5px;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 3px;
}

@media (max-width: 480px) { 
    .main-img {
        max-width: 50px;
    }

#quote {
        padding: 15px;
        line-height: 2em;
    }

    h1 {
        font-size: 1.35em;
    }
}
